@tailwind base;

@tailwind components;

@tailwind utilities;

button:disabled { background-color: lightgray; }
button:disabled:hover {
 background-color: lightgray;
 cursor: progress;
}

.p-12 {
  padding-top: 1em;
}

.mt-8 {
  margin-top: 0;
}

main {
  overflow: scroll;
}

circle {
  transform-origin: center;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* top scroll */
/* .outer-div {
  overflow: hidden;
}

.scroll-div {
  overflow-x: scroll;
  overflow-y: scroll;
  transform: rotateX(180deg);
}

.content-div {
  transform: rotateX(180deg);
  padding-top: 1.5rem;
} */