@tailwind base;

@tailwind components;

@tailwind utilities;

button:disabled { background-color: lightgray; }
button:disabled:hover {
 background-color: lightgray;
 cursor: progress;
}

.p-12 {
  padding-top: 1em;
}

.mt-8 {
  margin-top: 0;
}